<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用spring创建对象,在spring中称为bean-->
    <bean id="hello" class="com.qiaoyn.pojo.Hello">
        <property name="str" value="spring"></property>
    </bean>

    <!--ioc实质：对象由spring创建，管理，装备-->


</beans>