<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--注册bean-->
    <bean id="userService" class="com.qiaoyn.aop.Service.Impl.UserServiceImpl"></bean>
    <bean id="beforeLog" class="com.qiaoyn.aop.log.BeforeLog"></bean>
    <bean id="afterLog" class="com.qiaoyn.aop.log.AfterLog"></bean>

    <!--方式一：使用spring-api-->
    <!--配置aop,导入aop配置-->
<!--    <aop:config>
        &lt;!&ndash;切入点:expression()表达式&ndash;&gt;
        <aop:pointcut id="pointcut" expression="execution(* com.qiaoyn.aop.Service.Impl.UserServiceImpl.*(..))"></aop:pointcut>
        &lt;!&ndash;执行环绕增强&ndash;&gt;
        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"></aop:advisor>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"></aop:advisor>
    </aop:config>-->
    <!--方式二：自定义类实现aop-->
<!--    <bean id="diy" class="com.qiaoyn.aop.diy.PointCut"></bean>
    <aop:config>
        &lt;!&ndash;自定义切面ref要引入的类&ndash;&gt;
        <aop:aspect ref="diy">
            &lt;!&ndash;切入点&ndash;&gt;
            <aop:pointcut id="point" expression="(execution(* com.qiaoyn.aop.Service.Impl.UserServiceImpl.*(..)))"/>
             &lt;!&ndash;通知&ndash;&gt;
            <aop:before method="before" pointcut-ref="point"></aop:before>
            <aop:after method="after" pointcut-ref="point"></aop:after>
        </aop:aspect>
    </aop:config>-->

    <!--方法三：使用注解-->
    <bean id="annotationPointCut" class="com.qiaoyn.aop.annotation.TestAnnotation"></bean>
    <!--开启注解-->
    <aop:aspectj-autoproxy/>


</beans>